/* Default styles */

/* Default styles */
.headerStyle {
    background-image: url(https://i.pinimg.com/736x/a9/1f/b9/a91fb907e46d5741271b0443e91b59d1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    background-repeat: no-repeat;
    padding: 30px;
    margin-top: 30px;
    width: 1700px;
    display: -ms-grid;
}

.gat {
    color: bisque;
    text-align: center;
    font-size: 7em;
    margin-top: -30px;
}

.sear1{
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}



    .search{
        width: 500px;
    }

@media only screen and (max-width: 768px){
    .search{
        width: 200px;
    }

}
h1 {
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}



.filterbuttons {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-top:-50px ;
}

.fb {
    background-color: black;
    border-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.fb:hover {
    color: black;
}

.cardsec {
    padding: 50px;
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    max-width: 100%;
}

.tit {
    margin-left: 50px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: em;
}

.cricket {
    margin-left: 90px;
}

.view {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    margin-left: auto;
    margin-right: auto;
}

.view:hover {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
}

view:active {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
}

.catbutt {
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust font sizes and layout for smaller screens */

    .headerStyle {
    width: 270px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
    margin-left: -60px;
}

    .gat {
        font-size: 3em;
        margin-top: -20px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        margin-top: -40px;
    }

    .tit {
        font-size: 2em;
        margin-left: 20px;
    }

    .cricket {
        margin-left: 40px;
    }

    .view {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    .cardsec {
 
        flex-direction: column;
        margin-left: 0;
    
}
/* Responsive styles */

.catbutt {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;

}



}


