.singtits{
    font-size: 5em;
    color: antiquewhite;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.addw{
    font-size: 2em;
    color: #f9f5ef;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding: 30px;

}
.single{
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.details{
    font-size: 1em;
    color: #f9f5ef;
    font-weight: 200;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding: 30px;
    justify-content: space-evenly;
    padding: 20px;
    width: 600px;
    
    
}

hr{
    padding-bottom: 20px;
}
.delta{
    display: flex;
    padding: 50px;
}
.descrip{
    font-size: 1em;
    color: #f9f5ef;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.book{
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.evedate{
    font-size: 1em;
    color: #f9f5ef;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.single{
    width: 1000px;
    height: 600px;
}