.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    padding: 20px;
    padding-top: 100px;
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
    display: grid;
    padding-block:10px ;
    gap: 1rem;
    
}
a{
        color: aliceblue;
        text-decoration: none;
    }

.footer-middle {
    text-align: center;
    
    
}

.footer-right {
    text-align: right;

    
}
img{
        width: 50px;
        height: 50px;
        
    }


FontAwesomeIcon{
    width: 10px;
}