.main{
    animation: fade linear;
    animation-timeline: view();

}

.headerr{
    margin: 5rem 5rem;
    background-image: url('https://i.pinimg.com/originals/a9/1f/b9/a91fb907e46d5741271b0443e91b59d1.jpg');
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0%{
        opacity: 0;
    }

    25%{
        opacity: .3;
        transform: translate();


    }

    50%{
        opacity: .7;
        transform: translate();
    }
    100%{
        opacity: 1;
        transform: translate();

    }

    
}